<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.dao.ZigbeeStatusRecordMapper" >
  <resultMap id="BaseResultMap" type="com.test.domain.ZigbeeStatusRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="record_type" property="recordType" jdbcType="VARCHAR" />
    <result column="dev_mac" property="devMac" jdbcType="VARCHAR" />
    <result column="zigbee_mac" property="zigbeeMac" jdbcType="VARCHAR" />
    <result column="zigbee_brightness" property="zigbeeBright" jdbcType="INTEGER" />
    <result column="zigbee_status" property="zigbeeStatus" jdbcType="INTEGER" />
    <result column="zigbee_type" property="zigbeeType" jdbcType="INTEGER" />
    <result column="temperature" property="temperature" jdbcType="INTEGER" />
    <result column="humidity" property="humidity" jdbcType="INTEGER" />
    <result column="power" property="power" jdbcType="INTEGER" />
    <result column="param1" property="param1" jdbcType="VARCHAR" />
    <result column="param2" property="param2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, date, record_type, dev_mac, zigbee_mac, 
    zigbee_brightness, zigbee_status, zigbee_type,
    temperature, humidity, power, param1, param2
  </sql>
  <insert id="insert" parameterType="com.test.domain.ZigbeeStatusRecord">
    insert into zigbee_status_record (id, date, record_type, dev_mac, zigbee_mac, 
    zigbee_brightness, zigbee_status, zigbee_type, temperature, humidity, power, param1, param2
    ) values (
    #{id,jdbcType=INTEGER},#{date,jdbcType=TIMESTAMP},#{recordType,jdbcType=VARCHAR}
    ,#{devMac,jdbcType=VARCHAR},#{zigbeeMac,jdbcType=VARCHAR},#{zigbeeBright,jdbcType=INTEGER}
    ,#{zigbeeStatus,jdbcType=INTEGER},#{zigbeeType,jdbcType=INTEGER},#{temperature,jdbcType=INTEGER}
    ,#{humidity,jdbcType=INTEGER},#{power,jdbcType=INTEGER},#{param1,jdbcType=VARCHAR},#{param2,jdbcType=VARCHAR}
    )
  </insert>
  <select id="selectLastRecored" resultMap="BaseResultMap" parameterType="java.lang.String">
	 select * from zigbee_status_record where id=(select max(id) from zigbee_status_record)
  </select>
  <update id="updateLastRecordTime" parameterType="com.test.domain.ZigbeeStatusRecord">
		update zigbee_status_record
		<set>
			<if test="date != null">
				date = #{date,jdbcType=TIMESTAMP},
			</if>
			<if test="recordType != null">
				record_type = #{recordType,jdbcType=TIMESTAMP},
			</if>
			<if test="devMac != null">
				dev_mac = #{devMac,jdbcType=TIMESTAMP},
			</if>
			<if test="zigbeeMac != null">
				zigbee_mac = #{zigbeeMac,jdbcType=TIMESTAMP},
			</if>
			<if test="zigbeeBright != null">
				zigbee_brightness = #{zigbeeBright,jdbcType=TIMESTAMP},
			</if>
			<if test="zigbeeStatus != null">
				zigbee_status = #{zigbeeStatus,jdbcType=TIMESTAMP},
			</if>
			<if test="zigbeeType != null">
				zigbee_type = #{zigbeeType,jdbcType=TIMESTAMP},
			</if>
			<if test="temperature != null">
				temperature = #{temperature,jdbcType=TIMESTAMP},
			</if>
			<if test="humidity != null">
				humidity = #{humidity,jdbcType=TIMESTAMP},
			</if>
			<if test="temperature != null">
				temperature = #{temperature,jdbcType=TIMESTAMP},
			</if>
			<if test="power!= null">
				power = #{power,jdbcType=TIMESTAMP},
			</if>
			<if test="param1 != null">
				param1 = #{param1,jdbcType=TIMESTAMP},
			</if>
			<if test="param2 != null">
				param2 = #{param2,jdbcType=TIMESTAMP},
			</if>
		</set>where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectLastZigbeeStatusRecordByDeviceMac" resultMap="BaseResultMap" 
		parameterType="java.lang.String"> 
  		select
		<include refid="Base_Column_List" />
		from zigbee_status_record		
		where dev_mac = #{devMac,jdbcType=VARCHAR} order by date DESC limit 1
 	</select>
 	<select id="selectLastZigbeeStatusRecordByZigbeeMac" resultMap="BaseResultMap" 
 		parameterType="java.lang.String"> 
  		select
		<include refid="Base_Column_List" />
		from zigbee_status_record		
		where zigbee_mac = #{zigbeeMac,jdbcType=VARCHAR} order by id DESC limit 1
 	</select>
</mapper>
